
@require('./common/structure/head.ejs')
@require('./common/header.ejs')
<%
    // get the page directly to hook it into webpack dev build process
    const page =  (htmlWebpackPlugin && htmlWebpackPlugin.options.Page);

    const logoURL = require('assets/img/logo.png');

    const renderIndex = require('../js/utils/renderIndex')

%>

<main id="main" data-page-id="home">
    <section class="hero-section" >
         <%= renderIndex.heroSectionRender(page.output.copy) %>
        <%= page.id  %>
    </section>
</main>

@require('./common/footer.ejs')
@require('./common/structure/foot.ejs')